<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Person Details</title>
</head>
<body>
    <h1>Details for {{ personal_info.0 }} {{ personal_info.1 }}</h1>
    
    <form method="GET" action="">
        {% csrf_token %}
        <label for="name">First Name:</label>
        <input type="text" id="name" name="name" value="{{ personal_info.0 }}" readonly><br><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ personal_info.1 }}" readonly><br><br>
        
        <label for="age">Age:</label>
        <input type="number" id="age" name="age" value="{{ personal_info.2 }}" readonly><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" value="{{ personal_info.3 }}" readonly><br><br>
        
        <label for="position">Position:</label>
        <input type="text" id="position" name="position" value="{{ personal_info.4 }}" readonly><br><br>
        
        <a href="{% url 'dashboard' %}">Home</a>
    </form>
</body>
</html>
